<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Manos Web Resume</title>
  <!-- BootStrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Custom Css -->
  <link rel="stylesheet" href="/css/styles.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Hammersmith+One|Indie+Flower|Pacifico" rel="stylesheet">
</head>

<body>
  <section id="header">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/"><%= personName %></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link active" href="/"><i class="fas fa-home"></i> Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#skills"><i class="fas fa-burn"></i> Skills</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#achievements"><i class="fas fa-medal"></i> Achievements</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fas fa-book"></i> Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/certifications"><i class="fas fa-certificate"></i> Certifications</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </section>

  <section id="short-description">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <h1>Me in a nutshel...</h1>
          <div class="short-description-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit egestas purus id feugiat. Phasellus ex risus, fermentum ut neque a, fringilla facilisis dui. Donec imperdiet, felis vitae pharetra
            sagittis, risus leo efficitur magna, id faucibus ligula est a velit. Nunc viverra nec purus et aliquet. Vivamus nisi risus, rhoncus quis velit quis, tristique auctor neque. Nulla facilisi. Proin velit lectus, viverra non elementum in,
            dictum vitae tellus. Pellentesque finibus orci nec viverra elementum. Nunc urna purus, vulputate at tincidunt et, dapibus at nibh. Aenean ultricies elementum ante, aliquet cursus felis pharetra at. Fusce massa enim, laoreet sed malesuada
            vel, tincidunt laoreet ligula</div>
        </div>
        <div class="col-lg-6 image-profile">
          <img class="person-image" src="/assets/image-profile.png"></img>
        </div>
      </div>
    </div>
  </section>

  <section id="skills">
    <div class="container-fluid">
      <h1>A view in my skills</h1>
      <div class="row">
        <div class="col-lg-6 skills-column">
          <div class="card">
            <div class="card-header">
              <h2 class="card-title">Tool Skills</h2>
            </div>
            <div class="card-body">
              <div class="card-text">
                <p>Expert knowledge of Graphic Application (PhotoShop).</p>
                <p>Advanced knowledge of Webmatrix, Wamp and SQL Developer software.</p>
                <p>Advanced knowledge of Compiler software (JGrasp, Visual Studio 2015, Android Studio and Netbeans).</p>
                <p>Beginner's knowledge of JDeveloper software.</p>
                <p>Beginner's knowledge of computer game engine development such as Unreal Engine 4 and Unity 5.5.</p>
                <p>Beginner's knowledge of After Effects.</p>
                <p>Beginner's knowledge in 3D Scan.</p>
                <p>Beginner's Knowledge (MeshLab, Simplify3D, SketchUp 2016).</p>
                <p>Beginner's knowledge of three-dimensional modeling (3dsMax and Blender).</p>
                <p>Beginner's knowledge of network programs (Wireshark and Cisco Packet Tracer).</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 skills-column">
          <div class="card">
            <div class="card-header">
              <h2 class="card-title">Programming Skills</h2>
            </div>
            <div class="card-body">
              <div class="card-text">
                <p>Advanced knowledge of Java - JavaFX, C# and Visual Basic.</p>
                <p>Advanced knowledge of Search Engine Optimization (SEO).</p>
                <p>Advanced knowledge on Android Development.</p>
                <p>Advanced knowledge on relational databases (MySql, MSSQL, Oracle).</p>
                <p>Advanced knowledge in HTML5, CSS3 and PHP.</p>
                <p>Familiar with the integration and deployment of augmented reality applications through the Wikitude API.</p>
                <p>Beginner's knowledge of Javascript, JQuery, nodeJS, eJS and AJAX.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="achievements">
    <div class="container-fluid">
      <h1><i class="fas fa-medal"></i> My Recent Achievements <i class="fas fa-medal"></i></h1>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><span class="badge badge-primary badge-dark">2017 - 2018</span> MSc Software Engineering Degree with Distinction</li>
        <li class="list-group-item "><span class="badge badge-primary badge-dark">2017 - 2018</span> Development of Augmented Reality Academic Guide Android App</li>
        <li class="list-group-item"><span class="badge badge-primary badge-dark">2018 - 2019</span> Morbi leo risus</li>
        <li class="list-group-item"><span class="badge badge-primary badge-dark">2014 - 2014</span> Participation as a v </li>
      </ul>
    </div>
  </section>
  <a href="#header" class="back-to-top" title="Back to top">
    <i class="fa fa-arrow-circle-up"></i>
    <p>Back to Top</p>
  </a>
  <section id="footer">
    <div class="container-fluid">
      <div class="social-icons">
        <span>Find me:</span><a href="#"><i class="fab fa-linkedin fa-2x" title="LinkedIn"></i></a><a href="#" title="Send me an email"><i class="fas fa-envelope fa-2x"></i></a>
      </div>
      <p>This page has been created by me! @<%= footerTimestamp %></p>
    </div>
  </section>

  <!-- jQuery JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- BootStrap JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <!-- ScrollSpy JavaScript for Hide/Show effect -->
  <script src="/js/scrollspy.js" type="text/javascript" charset="utf-8"></script>
  <!-- Custom JavaScript -->
  <script src="/js/utility.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>
