body {
  background-color: #272727;
  color: #747474;
  font-family: 'Hammersmith One', sans-serif;
  text-align: center;
  position: relative;
}

h1 {
  font-family: 'Indie Flower', cursive;
}

/* Container */
.container-fluid {
  padding: 7% 15%;
}

/* Header Section */
#header .container-fluid {
  padding: 2% 15% 2% 15%;
}

.navbar .nav-item {
  padding: 0 8px;
}

.navbar-brand {
  font-family: 'Pacifico', cursive;
  font-weight: 900;
  font-size: 1.5rem;
}

.navbar-second {
  display: none;
}

/* Nav Hamburger Icon */
.navbar-toggler {
  border: 0;
  border-style: none;
}

.anim-icon {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.anim-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.anim-icon span {
  background: #fff;
}

.anim-icon span:nth-child(1) {
  top: 0px;
}

.anim-icon span:nth-child(2), .anim-icon span:nth-child(3) {
  top: 10px;
}

.anim-icon span:nth-child(4) {
  top: 20px;
}

.anim-icon.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.anim-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.anim-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.anim-icon.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

/* Back to Top Button */
.back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  color: #747474;
  font-size: 3rem;
  line-height: 2.5rem;
}

.back-to-top p {
  font-size: 1rem;
}

.back-to-top:hover {
  text-decoration: none;
  color: #747474;
}

/* Footer Section */
#footer .social-icons {
  padding: 0% 0% 1%;
}

#footer .social-icons i {
  padding: 0% 1%;
  color: #747474;
}

/* Home Page */
/* Short Description Section */
#short-description {
  background-color: #EAE7DC;
  text-align: left;
  position: relative;
}

#short-description .image-profile {
  position: absolute;
  width: 23%;
  height: auto;
  top: 30%;
  left: 62%;
}

#short-description .person-image {
  display: none;
}

/* Animate Highligh text in description */
.entry-title {
  animation: anim 3s 0s;
  webkit-animation: anim 3s 0s forwards;
  animation-fill-mode: forwards;
}

.entry-title:nth-child(2n) {
  animation: anim 3s 1s;
  webkit-animation: anim 3s 1s forwards;
  animation-fill-mode: forwards;
}

.entry-title:nth-child(3n) {
  animation: anim 3s 2s;
  webkit-animation: anim 3s 2s forwards;
  animation-fill-mode: forwards;
}

.entry-title:nth-child(4n) {
  animation: anim 3s 3s;
  webkit-animation: anim 3s 3s forwards;
  animation-fill-mode: forwards;
}

.entry-title:nth-child(5n) {
  animation: anim 3s 4s;
  webkit-animation: anim 3s 4s forwards;
  animation-fill-mode: forwards;
}

.entry-title:nth-child(6n) {
  animation: anim 3s 5s;
  webkit-animation: anim 3s 5s forwards;
  animation-fill-mode: forwards;
}

@keyframes anim {
  25% {
    background-position: -25% 0;
  }

  50% {
    background-position: -50% 0;
  }

  100% {
    background-position: -100% 0;
  }
}

.entry-title {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, rgba(216, 195, 165, 1.0) 50%);
  background-size: 200%;
  display: inline;
  color: #747474;
  transition: .5s ease-in-out;
  text-decoration: none;
}

.entry-title:after {
  background-position: 100% 0;
}

/* Skills Section */
#skills {
  background-color: #D8C3A5;
  position: relative;
}

#skills .container-fluid {
  padding: 2% 15%;
}

#skills h1 {
  padding: 2% 0%;
}

#skills .card {
  display: none;
}

#skills .card .card-text {
  text-align: left;
}

#skills .card-header {
  background-color: #EAE7DC;
}

#skills .skills-column {
  padding: 3% 3%;
}

/* Achievements Section */
#achievements {
  background-color: #EAE7DC;
}

#achievements .container-fluid {
  padding: 3% 15%;
}

#achievements h1 {
  padding: 4% 0%;
}

#achievements .borderless {
  border-top: 0 none;
}

#achievements .list-group {
  padding: 0% 15%;
}

#achievements .list-group-item {
  background-color: transparent;
  padding: 3% 0%;
  display: none;
}

#achievements .fas {
  color: #D8C3A5;
}

#download-cv .jumbotron {
  background-color: #D8C3A5;
}

/* Certifications Page */
#certifications-body {
  background-color: #EAE7DC;
}

#certifications-body h1 {
  padding-top: 2rem;
}

#certifications-body img {
  width: 500px;
}

#certifications-body .jumbotron {
  background-color: #EAE7DC;
  padding: 2% 0% 0%;
}

#certifications-body .container-fluid {
  padding: 0% 15% 5%;
}

#certifications-body .container {
  position: relative;
  z-index: 0;
  background-color: #EAE7DC;
  padding-top: 5rem;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Portfolio Page */
#portfolio-body {
  background-color: #EAE7DC;
}

#portfolio-body .inner-col h1 {
  padding-top: 1rem;
}

#portfolio-body .row p {
  text-align: left;
}

#portfolio-body .jumbotron {
  background-color: #EAE7DC;
  padding: 0;
}

#portfolio-body .outer-col {
  padding: 0rem 2rem;
}

#portfolio-body .inner-col {
  padding: 0rem 1rem;
}

#portfolio-body .container-fluid {
  padding: 3% 15%;
}

#portfolio-body .container {
  position: relative;
  z-index: 0;
  background-color: #EAE7DC;
  padding-top: 5rem;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Animate Circle Pulse */
.pulse {
  z-index: -1;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 30rem;
}

.pulse circle {
  fill: #ff5154;
  transform: scale(0);
  opacity: 0;
  transform-origin: 70% 70%;
  animation: pulse 4s 0.5s cubic-bezier(.5, .5, 0, 1) infinite;
  /* For older browsers */
  webkit-animation: pulse 4s 0.5s cubic-bezier(.5, .5, 0, 1) infinite;
}

.pulse circle:nth-child(2) {
  fill: #7fc6a4;
  animation: pulse 4s 1s cubic-bezier(.5, .5, 0, 1) infinite;
  /* For older browsers */
  webkit-animation: pulse 4s 1s cubic-bezier(.5, .5, 0, 1) infinite;
}

.pulse circle:nth-child(3) {
  fill: #e5f77d;
  animation: pulse 4s 1.5s cubic-bezier(.5, .5, 0, 1) infinite;
  /* For older browsers */
  webkit-animation: pulse 4s 1.5s cubic-bezier(.5, .5, 0, 1) infinite;
}

@keyframes pulse {
  25% {
    opacity: 0.4;
  }

  100% {
    transform: scale(1);
  }
}

/* Mobile Friendly Section */
@media (max-width: 1028px) {
  body {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 3.2rem;
  }

  .navbar-brand {
    padding-bottom: 18px;
  }

  .navbar .nav-item {
    font-size: 2rem;
  }

  #short-description {
    text-align: center;
  }

  #short-description .short-description-text {
    text-align: left;
  }

  #short-description .image-profile {
    text-align: center;
    position: static;
    width: 100%;
    top: 0%;
    right: 0%;
    left: 0%;
  }

  #achievements .list-group {
    padding: 0% 0%;
    text-align: left;
  }

  #achievements .list-group .far {
    display: none;
  }

  #achievements .fas {
    display: none;
  }

  .pulse {
    display: none;
  }

  #certifications-body img {
    width: 100%;
  }

  .back-to-top {
    display: none;
  }
}
